extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h2#header Home
  .panel.panel-default
    .panel-body
      h4 Welcome to the Treasure Map
      ul
        li A database of treasures!
        li Go to 'Treasures' to view all treasures, with driving directions between them!
        li Only one treasure is active at a time. Found treasures are marked with a treasure chest.
        li Click a treasure name to view hints, pictures, map, and declare it found.
        li Once a treasure is found, the next one will become active.
        li Add new treasures with geocoded location, uploaded pictures, and hints.
        li Contact: mfbadr@gmail.com, @mikeybadr
      .row
        .col-xs-2
        .col-xs-8
          img#comic(src='/img/calvin.gif')
        .col-xs-2
